*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    color: #386d9d;
}
.container{
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    background: #4b8cc1;
}
.status-action{
    display:flex;
    justify-content: space-around;
    font-size: 25px;
    margin-top: 25px;
}
.reset{
    cursor:pointer;
}
.reset:hover{
    color: #c7e9fd;
}
.game-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    background: #386d9d;
    cursor: pointer;
}
.game-cell{
    height: 150px;
    width: 150px;
    background: #4b8cc1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.x,.o{
    cursor: default;
}
.x::before{
    content: '×';
    font-size: 150px;
}
.o::before{
    content: '○';
    font-size: 175px;
    color: #c7e9fd;
}
.won_status{
    color: #14ff47;
}
.won::before{
    color: #14ff47;
}
.not_won::before{
    color: #df5aa2;
}
.not_won_status{
    color: #df5aa2;
}